<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      BrowarApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="status">
      {{status}}
    </div>
    <ion-item class="input_item">
      <ion-label position="floating">Code event</ion-label>
      <ion-input type="text" mask="99999999" [(ngModel)]="code" class="code" (ionInput)="getCode($event)"></ion-input>
    </ion-item>
    <div class="submit_btn">
      <ion-button expand="block" shape="round" (click)="checkCode()" [disabled]="!isenabled">Join meeting</ion-button>
    </div>
  </div>
</ion-content>