<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Facebook login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div>{{status}}</div>
    <ion-button (click)="facebookLogin()">
      <ion-icon name="logo-facebook" class="ion-margin-horizontal"></ion-icon>
    </ion-button>
    <br>
    <ion-button (click)="symulateLogin()"  class="ion-margin-vertical">
      Symulate login
    </ion-button>
  </div>
</ion-content>
